less_shit_parser/__pycache__/__init__.cpython-310.pyc
less_shit_parser/__pycache__/LessShitParser.cpython-310.pyc
more_shit_parser/__pycache__/__init__.cpython-310.pyc
more_shit_parser/__pycache__/MoreShitParser.cpython-310.pyc
