<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" src="static/script.js"></script>
</head>
<body>
<a href="/">Zurück</a>
<h1 >{{artist}} in {{ ort }}</h1>
{{tour}}<br>
{{price}}€ - {{stadium}}<br>
{{date}} (vor {{days_offset}} Tagen)<br>
Entfernung: {{Entfernung}} km
<div class="overlay">
  <img src="blah" id="top" hidden="true" alt="Large view">
  <span id="close" hidden="true" onclick="do_close()"><b><u>CLOSE(X)</u></b></span>
</div>
<section class="gallery">
  <ul class="images">
    {% for path in paths %}
      <li class="card">
        <!--onclick="clicked_img(this)"-->
        <img src='cdn/{{ path }}' oncontextmenu="clicked_img(this)" id="img01" alt="Event Image">

      </li>
    {% endfor %}
    {% for path in video_paths %}
    <li class="card">
      <video width="100%" src='cdn/{{ path }}' type="video/mp4" controls></video>
    </li>
  {% endfor %}
  </ul>
</section>
<form method="post" enctype="multipart/form-data" id="uploadForm2" class="uploadFormClass">
  <label for="fileInput2" class="camera-icon">
    <i class="fa fa-camera"></i>
</label>
  <input type="file" name="file" accept="image/*" id="fileInput2" onchange="submitFileUpload()" multiple>
  <!--<input type="submit" value="Upload" id="submitButton2">-->
</form>
</body>
</html>
