<!doctype html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" type="text/css" href="/static/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/script.js"> </script>
    <title>Konzerterkennung</title>
</head>
<body>
                <div class="container">
                {% for event in events %}
                    <div class="item" onclick="selectThisDate('{{event.date}}')">
                        <div class="eventimgcontainer">
                            <img class="eventimg" src='cdn/{{ event.imgsrc }}' onclick="selectThisDate('{{event.date}}')">
                        </div>
                        <div class="eventdescription" onclick="selectThisDate('{{event.date}}')">
                            <div class="eventname"  >
                                {{ event.artist }}
                            </div>
                            <div class="eventdate">
                                {{ event.date }}
                            </div>
                            <div class="eventplace">
                                {{ event.location }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
                
                <div class="item">
                    <div class="eventdescription" style="height: 100%;">
                        <div class="eventname"  >
                            Harte Fakten
                        </div>
                        {% for stat in statistic %}
                        <div class="eventdate">
                            {{stat.name}}: {{stat.value}}
                        </div>
                        {% endfor %}
                </div>
                </div>
                <div class="item">
                    <div class="eventdescription" style="height: 100%; overflow: hidden;">
                        <div class="eventname"  >
                            Locations
                        </div>
                        {% for loc in locations %}
                        <div class="eventdate">
                            {{loc[0]}}: {{loc[1]}}
                        </div>
                        {% endfor %}
                </div>
                </div>
                <div class="item">
                    <div class="eventdescription" style="height: 100%; overflow: hidden;">
                        <div class="eventname"  >
                            Künstler
                        </div>
                        {% for artist in artists %}
                        <div class="eventdate">
                            {{artist[0]}}: {{artist[1]}}
                        </div>
                        {% endfor %}
                </div>
                </div>
                
                <div class="item" onclick="redirectToAddEvent()">
                    <div class="eventimgcontainer">
                    </div>
                    <div class="eventdescription" onclick="redirectToAddEvent()">
                        <div class="eventname"  >
                            Neues Event anlegen
                        </div>
                        <div class="eventdate">
                        </div>
                        <div class="eventplace">
                        </div>
                    </div>
                </div>

            </div>
</body>
</html>