<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" type="text/css" href="/static/style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="static/script.js"></script>
</head>
<body>
<a href="/">Zurück</a>

<form id="newevent" method="get">
<input type="hidden" name="mode" value="{{ mode or 'create' }}" />
<label for="date">Datum</label>
<input type="date" id="date" name="event-date" min="2010-01-01" max="2999-12-31" value="{{ event.get('date', '') if event else '' }}" />
<label for="price">Preis</label>
<input type="number" id="price" name="event-price" value="{{ event.get('price', '') if event else '' }}"/>
<label for="location">Stadt/Ort</label>
<input type="text" id="location" name="event-location" value="{{ event.get('location', '') if event else '' }}"/>
<label for="stadium">Stadium/Arena/Halle/Veranstaltungsgelände</label>
<input type="text" id="stadium" name="event-stadium" value="{{ event.get('stadium', '') if event else '' }}"/>
<label for="artist">Künstler</label>
<input type="text" id="artist" name="event-artist" value="{{ event.get('artist', '') if event else '' }}"/>
<label for="tourname">Tourname</label>
<input type="text" id="tourname" name="event-tourname" value="{{ event.get('tourname', '') if event else '' }}"/>
<input type="button" value="{{ 'Event speichern' if mode == 'edit' else 'Event anlegen' }}" onclick="submitEvent()"/>

</form>
</body>
</html>